[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/pigeon"]
	path = lib/pigeon
	url = https://github.com/manifoldfinance/pigeon
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/hardhat-deploy"]
	path = lib/hardhat-deploy
	url = https://github.com/wighawag/hardhat-deploy
